/* GLOBAL TYPOGRAPHY */
body {
  background-image: url('');
    background-color: #dcdcdc;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    font-size: 1.25em;
  }
  
    
  /* FLEXBOX LAYOUT */
  html, body {
    min-height: 100vh;
    margin: auto;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  header {
 

  
   
   background-position: center;
   background-color: #4F2683;
    height: 8em;
    text-align: center;
    
    
    font-size: 25px;
  
    font-weight: 100;
    color: #ffffff  
  }
  main {
    flex: auto;
    max-width: 80%;
    margin: auto;
  }

   #salaryTable {
    text-align: right;
   }
  
  /* HEADER/FOOTER */
  header{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 3em;

    font-weight: 900;
  }
  
  
  /* FORM ELEMENTS */
  input {
    padding: .5em;
    width: 150px;
    background: #FCFCFC;
    border: 1px solid;
  }
  button {
    padding: .5em;
    width: 75px;
  }
  
  
  /* TABLE */
  table {
    background-color: #313131;
    width: 100%;
    text-align: left;
  }
  table, th, td {
   
    
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    background: 	#4F2683;
    color: #fcfcfc;
  }
  tbody tr:nth-child(odd){ 
    background-color: #b27ef7;
  
   color: black; 
  }
  tbody tr:nth-child(even){
background-color: #fde7a9;
    color: black;
  }
  
  .over-budget {
    color: red;
    font-weight: 900;
    font-size: 40px;
    background-color: rgb(87, 0, 0);
    
  }
  .overbudget {
    font-variant: all-small-caps;
animation: blink 500ms 3ms infinite forwards;
an
  }
  @keyframes blink {
    0%{color: red;}
    25%{color: orange}
    50%{color: white;}
    75%{color: orange;}
    100%{color: red;}
    
  }

.spacing {
  display: inline-block;
width: 10%;

}

footer {
  height: 100%;
    display: inline;
   color: #ffffff;
  background-color: #4F2683;
  text-align: right;
}
#skol {

  background-image: url('./skol.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}